{:deps
 {:aliases [:cljs]}

 :dev-http {9000 "public"}

 :builds
 {:app {:target :browser
        :output-dir "public/js"
        :asset-path "js"
        :modules {:main {:entries [foo.core]
                         :init-fn foo.core/init}}
        :devtools {:repl-init-ns foo.core
                   :after-load foo.core/init}}}}
